/** Sticky Footer **/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  margin-top: 0px;
}

/** Brand in the nav **/
.brand {
  padding-top: 10px;
  padding-left: 10px;
  height: 55px;
}

/** Home Page parallax, default height is 500px **/
.parallax-container {
  height: 400px;
}

/** Footer menu **/
.footer-links {
  font-size: 16px
}

/** Footer and Nav Color **/
.elva-orange {
  background-color: #F37736 !important;
}

.elva-orange-text {
  color: #F37736 !important;
}
