// Variables;
$elvorange: #f37736;

.elva-text {
  color: $elvorange !important
}

#sidenav-overlay {
  z-index: 1;
}
nav {
  .button-collapse i {
    font-size: 2em !important;
    margin-top: -7px;
  }
}
// Helpers

.logo-padding {
  padding-top:10px;
  padding-left: 10px;
}
