%header
  .navbar-fixed
    %nav.white
      .nav-wrapper
        .logo-padding= image_tag 'elva-logo.png', class: 'responsive-img brand-logo left animated zoomIn'
        %a.button-collapse.show-on-large.right{"data-activates" => "slide-out", :href => "#"}
          %i.medium.material-icons.elva-text menu
        %ul#slide-out.side-nav
          %li
            %a{:href => "#!"} Home
          %li
            %a{:href => "#!"} About Us
          %li
            %a{:href => "#!"} Portfolio
          %li
            %a{:href => "#!"} Success Stories
          %li
            %a{:href => "#!"} Contact Us
          %li
            .divider
          %li
            %a.subheader Subheader
          %li
            %a.waves-effect{:href => "#!"} Third Link With Waves
