---
    title: "Elva Redesign - About Us"
---

%section
    .page-header-img

%section
    .col-xs-12
        .container
            .row
                .col-xs-12
                    %h1.cabin We're consistently evolving.
                    %p.grey-flow-text.cabin Elva Marketing was founded in 2014 by two professionals with combined experiences from America’s top corporations and the Southeast’s leading ad agencies. Throughout the past three years, we’ve adapted to best serve our clients relying primarily on our core team but also drawing from an elite group of consultants.
                    %p.grey-flow-text.cabin 
                        Unburdened by layers of management, we are agile and affordable. Our rates reflect the efficiencies of our overhead. As our client, your fees will not pay the salaries of senior-level executives who never work on your account. Instead, you’ll have access to experts as you need them. Unlike traditional freelance arrangements, we’ve been working with our extended family of Elva-nians for more than 20 years. We do not outsource work, we insource the best people. 
                        = link_to 'Get to know us.', '#', class: 'orange'
%section
    .col-xs-12
        .container
            .row
                .col-xs-12
                    %h1.cabin Meet the Team
                    - data.team.members.each do |member|
                        .col-xs-6.col-sm-3.col-md-3
                            = image_tag lorem.image('400x400'), class: "img-responsive", style: "padding-top: 15px;"
                            %h4.cabin.center= member.name
                            %h5.cabin.orange.center= member.title