---
    title: "Elva Redesign - Success Stories"
---

%section
    .header-img.success

%section
    .col-xs-12
        .container
            .row.padding-bottom-40px
                .col-xs-12
                    %h1.cabin Sucess Stories
                    %p.cabin.grey-flow-text
                        The proof is in the proof. We’ve had the privilege to assess, plan, implement, track, evaluate and exceed expectations for clients in a broad range of industries.

            .row.padding-bottom-40px
                .col-xs-12
                    .col-xs-12.col-md-4
                        = image_tag "success-stories/whertec-case-stories.jpg", class: "img-responsive"
                    .col-xs-12.col-md-8
                        %h1.cabin Whertec. The Reliability Experts.
                        %p.cabin.grey-flow-text Whertec keeps the world’s energy industry running. To power up their own sales globally, they turned to us to identify and communicate their brand strengths. The company specializes in the inspection, manufacture and on-site repair of mission critical components for electrical generation stations, paper and steel mills, and petrochemical refineries. We created a brand positioning statement that emphasizes their capabilities and reputation for dependable service: The Reliability Experts. We redesigned their website, trade show booth, and sales presentation material to reflect the new position, and launched the new identity with direct response campaign sending traffic to their website. Since our corporate rebranding in 2009, Whertec has doubled their gross sales growing from $15 million a year to $30 million. In 2015, MEC Group of Germany bought Whertec and has carried the brand message forward throughout Asia, Africa, and South America.
            %hr
            .row.padding-bottom-40px
                .col-xs-12
                    .col-xs-12.col-md-8
                        %h1.cabin DESC - Communicating Needs
                        %p.cabin.grey-flow-text The Downtown Ecumenical Services Council, or DESC, is a faith-based organization that provides emergency food, clothing, and financial assistance to families and individuals facing immediate need. Elva Marketing began working with DESC on a pro bono basis in 2014, providing website design and technical infrastructure support for their client and volunteer database. This vastly increased their ability to work with more vendors and serve more needy families. The growth in serving capacity led to the need for a full-service contract which we provide at discounted rates. The NEWS FROM THE DESC quarterly magazine designed and published by Elva Marketing is an integral part of the communication between DESC staff, volunteers, donors, clients and other community services groups. In 2016, DESC fed 4,293 families, provided 163,104 items of clothing, and provided emergency financial support to 246 households.
                    .col-xs-12.col-md-4
                        .padding= image_tag "success-stories/volunteer-at-desc.jpg", class: "img-responsive"
            
            %hr
            .row.padding-bottom-40px
                .col-xs-12
                    .col-xs-12.col-md-4
                        = image_tag "success-stories/wyoming.jpg", class: "img-responsive"
                    .col-xs-12.col-md-8
                        %h1.cabin Sweetwater River Conservancy
                        %p.cabin.grey-flow-text For land developers and commercial real estate agents, the biggest obstacles to clear are often the permitting requirements of the Federal Environmental Protection Agency. In order to conduct the necessary surveys of the indigenous plants and animals, you have to collect data in the field and later, once you have internet access, consult the database of regulations to complete the necessary permits. Elva Marketing set out to simplify the process. Andrew Vogel created an App that combines GPS capabilities with a complete database of FEMA requirements. This allows surveyors to view the specific land restrictions and permits for the property they are viewing anywhere there is a cell-phone signal. You will soon be able to download it on the App Store, and caculate your credit about for a plot of land.
